<section class="connect">
	<h3><%= t.site.configurations.connect.header %></h3>

	<ul>
		<% CONNECT_PROVIDERS.each do |provider| %>
			<li>
				<span class="title"><%= provider[:title] %>:</span>

				<% if (provider_user = current_user&.public_send("#{provider[:name]}_user")) %>

					<span class="<%= provider[:name] %>">
						<img
							src="<%= connection_image_url provider[:name], provider_user %>"
							alt="<%= provider[:title] %> Avatar"
						/>

						<%= provider_user.info['name'] %>
					</span>

					<form
						class="disconnect"
						action="<%= path_to ST::Site::Public::DisconnectController, provider[:name].to_sym %>"
						method="POST"
					>
						<%= csrf_tag %>
						<button type="submit">Disconnect</button>
					</form>

				<% else %>

					<form
						class="connect"
						action="/connect/<%= provider[:path] %>/?<%= URI.encode_www_form(current: true) %>"
						method="POST"
					>
						<%= csrf_tag %>

						<button type="submit" class="<%= provider[:name] %>">
							<%= t.button.connect %>
						</button>
					</form>

				<% end %>

			</li>
		<% end %>
	</ul>
</section>
