<section class="connect">
	<h3><%= t.site.configurations.connect.header %></h3>

	<ul>
		<% CONNECT_PROVIDERS.each do |provider| %>
			<li>
				<form
					class="connect"
					action="/connect/<%= provider[:path] %>/?<%= URI.encode_www_form(current: false) %>"
					method="POST"
				>
					<%= csrf_tag %>

					<button type="submit" class="<%= provider[:name] %>">
						<%= t.button.public_send(:load_from, provider_title: provider[:title]) %>
					</button>
				</form>
			</li>
		<% end %>
	</ul>
</section>
