<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title><%= config[:site][:site_name] %><% if @subtitle %> | <%== @subtitle %><% end %></title>

		<!-- https://realfavicongenerator.net/ -->
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#8bb9f3">
		<meta name="msapplication-TileColor" content="#7a9fcf">
		<meta name="theme-color" content="#ffffff">

		<%
			%w[
				main
				lib/icomoon
			].each do |name|
		%>
			<link rel="stylesheet" href="<%= url_to "styles/#{name}.css", version: true %>" />
		<% end %>

		<%
			if Sentry.configuration.enabled_environments.include?(config[:environment]) && !request.bot?
		%>
			<script
				type="text/javascript" src="<%= url_to "/scripts/compiled/sentry.js", version: true %>"
			></script>

			<script type="text/javascript">
				Sentry.init({
					dsn: '<%= config[:sentry]['front-end'][:url] %>',

					environment: '<%= config[:environment] %>',
					release: '<%= Sentry.configuration.release %>',

					// integrations: [new BrowserTracing()],

					// Set tracesSampleRate to 1.0 to capture 100%
					// of transactions for performance monitoring.
					// We recommend adjusting this value in production
					// tracesSampleRate: 1.0,
				})

				Sentry.setUser(<%= current_user&.to_json %>)
			</script>
		<% end %>

		<%
			{
				lib: %w[
				],
				# dom4.max
				# modernizr-custom
				# cccombo
				'compiled': %w[main]
			}
				.each do |dir, file_names|
		%>
			<% file_names.each do |name| %>
				<script
					type="text/javascript" src="<%= url_to "/scripts/#{dir}/#{name}.js", version: true %>"
				></script>
			<% end %>
		<% end %>

		<script type="text/javascript">
			const osDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches

			const savedDarkMode = localStorage.getItem('dark-theme')
			if (savedDarkMode == 'true' || (savedDarkMode == null && osDarkMode)) {
				document.documentElement.classList.add('dark-theme')
			}
		</script>
	</head>
	<body>

		<%= yield %>

	</body>
</html>
