<div class="page error">
	<h1><%= t.error.bad_request.title %></h1>
	<h4><%= t.error.bad_request.subtitle %></h4>

	<p>
		<%= t.error.bad_request.text %>
	</p>

	<a href="<%= path_to_back %>">
		<%= t.button.back %>
	</a>
</div>
