<%
	method =
		case action
		when :create then 'POST'
		when :update then 'PUT'
		else raise 'Unsupported action for configuration change form'
		end
%>

<section class="configuration change">
	<h2><%= t.site.configuration[action].header %></h2>

	<form
		class="inline table"
		method="POST"
		action="<%= path_to ST::Site::ConfigurationController, action %>"
	>
		<%= csrf_tag %>

		<input type="hidden" name="_method" value="<%= method %>" />

		<% if @form.instance.configuration_key %>
			<fieldset class="configuration_key">
				<legend><%= t.label.configuration.configuration_key %></legend>

				<p>
					<%= t.site.configuration.form.edit.configuration_key.hint %>
				</p>

				<p>
					<input
						type="password"
						class="monospace"
						value="<%= @form.instance.configuration_key %>"
						readonly
					/>
				</p>

				<p>
					<button
						type="button"
						class="success copy"
						data-toggle-text="<%= t.site.configuration.form.edit.copied %>"
					>
						<%= t.button.copy %>
					</button>

					<button type="button" class="show warning" data-toggle-text="<%= t.button.hide %>">
						<%= t.button.show %>
					</button>
				</p>
			</fieldset>
		<% end %>

		<% if @form.instance.timer_key %>
			<fieldset>
				<legend><%= t.label.configuration.timer_link %></legend>

				<% timer_link = url_to ST::Site::TimerController, :index, key: @form.instance.timer_key %>

				<!-- For "Copy" button -->
				<input type="hidden" value="<%= timer_link %>" />

				<p>
					<a
						target="_blank"
						rel="noreferrer noopener"
						href="<%= timer_link %>"
					><%=
						timer_link
					%></a>
				</p>

				<p>
					<button
						type="button"
						class="success copy"
						data-toggle-text="<%= t.site.configuration.form.edit.copied %>"
					>
						<%= t.button.copy %>
					</button>
				</p>
			</fieldset>
		<% end %>

		<fieldset class="timeline">
			<legend><%= t.site.configuration.form.timeline %></legend>

			<svg class="arrow" xmlns="http://www.w3.org/2000/svg" widht="0" height="0">
				<defs>
					<marker
						id="arrowhead"
						markerWidth="3.6"
						markerHeight="4.2"
						refX="0.1"
						refY="2.1"
						orient="auto"
					>
						<polygon points="0 0, 3.6 2.1, 0 4.2" />
					</marker>
				</defs>
			</svg>

			<label class="only-countup">
				<input
					type="checkbox"
					name="configuration[only_countup]"
					<% if @form.only_countup %>checked<% end %>
				/>
				<%= t.site.configuration.form.only_countup %>
			</label>

			<fieldset class="countdown" <% if @form.only_countup %>disabled<% end %>>
				<legend><%= t.label.configuration.text.countdown %></legend>

				<input
					type="text"
					name="configuration[countdown_text_before]"
					value="<%= @form.countdown_text_before %>"
					size="10"
				/>

				<%= render '_form/_time_inputs', countup: false %>
			</fieldset>

			<%= render '_form/_arrow' %>

			<p class="zero-time">
				00:00:00
			</p>

			<%= render '_form/_arrow' %>

			<fieldset class="countup">
				<legend><%= t.label.configuration.text.countup %></legend>

				<input
					type="text"
					name="configuration[countup_text_before]"
					value="<%= @form.countup_text_before %>"
					size="10"
				/>

				<%= render '_form/_time_inputs', countup: true %>

				<span class="endless">∞</span>
			</fieldset>

			<%= render '_form/_arrow' %>

			<p class="endless">
				∞
			</p>
		</fieldset>

		<fieldset>
			<legend><%= t.label.configuration.style.common %></legend>

			<fieldset>
				<legend><%= t.label.configuration.style.background.common %></legend>

				<label>
					<span><%= t.label.configuration.style.background.color %>:</span>
					<span>
						<input
							type="color"
							name="configuration[background_color]"
							value="<%= @form.background_color %>"
							required
						/>
					</span>
				</label>

				<label class="opacity">
					<span><%= t.label.configuration.style.background.opacity %>:</span>
					<span>
						<input
							type="range"
							name="configuration[background_opacity]"
							value="<%= @form.background_opacity %>"
							min="0"
							max="1"
							step="0.05"
							required
						/>
						<span class="range-value"></span><span>%</span>
					</span>
				</label>
			</fieldset>

			<fieldset>
				<legend><%= t.label.configuration.style.font.common %></legend>

				<label>
					<span><%= t.label.configuration.style.font.size %>:</span>
					<span>
						<input
							type="number"
							name="configuration[font_size]"
							value="<%= @form.font_size %>"
							min="0"
							max="9000"
							required
						/>
						pixels
					</span>
				</label>

				<label>
					<span><%= t.label.configuration.style.font.color %>:</span>
					<span>
						<input
							type="color"
							name="configuration[font_color]"
							value="<%= @form.font_color %>"
							required
						/>
					</span>
				</label>
			</fieldset>
		</fieldset>

		<button type="submit" class="success"><%= t.button[action] %></button>
	</form>
</section>
