<section class="configuration load">
	<h2><%= t.site.configuration.load.header %></h2>

	<form
		class="inline table"
		method="POST"
		action="<%= path_to ST::Site::ConfigurationController, :load %>"
	>
		<%= csrf_tag %>

		<fieldset>
			<legend><%= t.label.configuration.configuration_key %></legend>

			<input type="password" name="configuration[configuration_key]" size="36" />
		</fieldset>

		<button type="submit" class="success"><%= t.button.load %></button>
	</form>
</section>
