<% if cookies[:configuration_key] %>
	<h2 class="you_have_existing_configuration">
		<%= t.site.configuration.create.you_have_existing_configuration %>
	</h2>
	<a href="<%= path_to :edit %>"><h3><%= t.button.edit %></h3></a>
<% end %>

<%= render 'configuration/_form', action: :create %>

<%= render 'configuration/_load' %>
