<div class="page">
	<h2><%= t.site.about.header %></h2>

	<%=
		t.site.about.text(
			obs_link: render_external_link(
				t.site.about.links.obs, 'https://obsproject.com'
			),
			github_link: render_external_link(
				t.site.about.links.github, 'https://github.com/AlexWayfer/stream_timer'
			),
			developer_link: render_external_link(
				t.site.about.links.developer, 'https://alexwayfer.name'
			),
			icons8_link: render_external_link(
				t.site.about.links.icons8, 'https://icons8.com/icon/1jGDyNJqW01A/display'
			)
		)
	%>
</div>

<% if current_user %>

	<section class="timers">
		<a href="<%= path_to ST::Site::Public::TimersController %>"><h2><%=
			t.site.about.go_to_timers
		%></h2></a>
	</section>

<% else %>

	<%= render 'timers/_new_link' %>

	<%= render 'user/_load' %>

<% end %>
