<header>
	<div class="container">
		<a href="<%= path_to ST::Site::Public::IndexController %>">
			<h1><%= config[:site][:site_name] %></h1>
		</a>

		<% if @menu %>
			<nav>
				<%
					@menu.current.ancestors.reverse.each do |parent|
						items = parent.available
						next if items.size < 2
				%>
					<% items.each do |item| %>
						<a
							href="<%= path_to item.controller %>"
							class="<%= 'selected' if item.current? %>"
						><%=
							t.site.header.nav[parent.key][item.key]
						%></a>
					<% end %>
				<% end %>
			</nav>
		<% end %>

		<button type="button" class="theme-toggle">
			<svg class="icon icon-brightness baseline">
				<use
					xlink:href="<%= url_with_mtime '/images/icons/symbol-defs.svg' %>#icon-brightness"
				></use>
			</svg>
		</button>
	</div>
</header>

<main>
	<div class="container">
		<%
			%i[error warning notice].each do |type|
				flash[type].each do |text|
		%>
					<div class="flash <%= type %>">
						<%= text %>
					</div>
		<%
				end
			end
		%>

		<%= yield %>

	</div>
</main>
