<% current = true if current.nil? %>

<section class="connect">
	<% CONNECT_PROVIDERS.each do |provider| %>

		<% if current && (provider_user = current_user&.public_send("#{provider[:name]}_user")) %>

			<span class="<%= provider[:name] %>">
				<img
					src="<%= connection_image_url provider[:name], provider_user %>"
					alt="<%= provider[:title] %> Avatar"
				/>

				<%= provider_user.info['name'] %>

				<form
					class="disconnect"
					action="<%= path_to ST::Site::Public::DisconnectController, provider[:name].to_sym %>"
					method="POST"
				>
					<%= csrf_tag %>
					<button type="submit"><%= render :_svg_icon, name: :logout, baseline: true %></button>
				</form>
			</span>

		<% else %>

			<form
				class="connect"
				action="/connect/<%= provider[:path] %>/?<%= URI.encode_www_form(current: current) %>"
				method="POST"
			>
				<%= csrf_tag %>

				<button type="submit" class="<%= provider[:name] %>">
					<%=
						t.button.public_send(
							current ? :connect : :sign_in_with, provider_title: provider[:title]
						)
					%>
				</button>
			</form>

		<% end %>

	<% end %>
</section>
