<%
	key = params[:key]

	method, action_args =
		case action
		when :create
			['POST', []]
		when :update
			['PUT', [key: key]]
		else
			raise 'Unsupported action for configuration change form'
		end
%>

<section class="configuration change">
	<h2><%= t.site.configurations[action].header %></h2>

	<form action="<%= path_to action, *action_args %>" method="POST">
		<%= csrf_tag %>

		<input type="hidden" name="_method" value="<%= method %>" />

		<fieldset class="name">
			<legend><%= t.label.configuration.name %></legend>

			<input type="text" name="configuration[name]" value="<%== @form.name %>" required/>
		</fieldset>

		<% if (key = @form.instance.key) %>
			<fieldset class="link">
				<legend><%= t.label.configuration.timer_link %></legend>

				<% timer_link = url_to ST::Site::TimerController, :index, key: key %>

				<!-- Should be right after `<legend>` for decreased `margin-top` -->
				<p>
					<%= render :_external_link, text: timer_link, href: timer_link %>
				</p>

				<!-- For "Copy" button -->
				<input type="hidden" value="<%= timer_link %>" />

				<p>
					<button
						type="button"
						class="success copy"
						data-toggle-text="<%= t.button.copied %>"
					>
						<%= t.button.copy %>
					</button>
				</p>
			</fieldset>
		<% end %>

		<fieldset class="timeline">
			<legend><%= t.site.configurations.form.timeline %></legend>

			<svg class="arrow" xmlns="http://www.w3.org/2000/svg" widht="0" height="0">
				<defs>
					<marker
						id="arrowhead"
						markerWidth="3.6"
						markerHeight="4.2"
						refX="0.1"
						refY="2.1"
						orient="auto"
					>
						<polygon points="0 0, 3.6 2.1, 0 4.2" />
					</marker>
				</defs>
			</svg>

			<label class="only-countup">
				<input type="hidden" name="configuration[only_countup]" value="false" />

				<input
					type="checkbox"
					name="configuration[only_countup]"
					<% if @form.only_countup %>checked<% end %>
				/>
				<%= t.site.configurations.form.only_countup %>
			</label>

			<!-- It's here for situations when `fieldset.countdown` is disabled (when `only_countup`) -->
			<input type="hidden" name="configuration[specific_time]" value="" />

			<fieldset class="countdown" <% if @form.only_countup %>disabled<% end %>>
				<legend><%= t.label.configuration.text.countdown %></legend>

				<label class="specific-time">
					<input
						type="checkbox"
						<% if @form.specific_time %>checked<% end %>
					/>
					<%= t.site.configurations.form.specific_time %>
				</label>

				<input
					type="text"
					name="configuration[countdown_text_before]"
					value="<%== @form.countdown_text_before %>"
					size="12"
				/>

				<%= render '_form/_time_inputs', countup: false %>

				<input
					type="datetime-local"
					class="<% unless @form.specific_time %>hidden<% end %>"
					name="configuration[specific_time]"
					value="<%= @form.specific_time&.strftime('%FT%T') %>"
					<% if @form.specific_time %>
						required
					<% end %>
				/>

				<p class="hint">
					<%= t.site.configurations.form.hint_about_space_in_text %>
				</p>
			</fieldset>

			<%= render '_form/_arrow' %>

			<p class="zero-time">
				00:00:00
			</p>

			<%= render '_form/_arrow' %>

			<fieldset class="countup">
				<legend><%= t.label.configuration.text.countup %></legend>

				<label class="display-countdown-information">
					<input type="hidden" name="configuration[display_countdown_information]" value="false" />
					<input
						type="checkbox"
						name="configuration[display_countdown_information]"
						<% if @form.display_countdown_information %>checked<% end %>
					/>
					<%= t.site.configurations.form.display_countdown_information %>
				</label>

				<label class="display-countup-time">
					<input type="hidden" name="configuration[display_countup_time]" value="false" />
					<input
						type="checkbox"
						name="configuration[display_countup_time]"
						<% if @form.display_countup_time %>checked<% end %>
					/>
					<%= t.site.configurations.form.display_countup_time %>
				</label>

				<input
					type="text"
					name="configuration[countup_text_before]"
					value="<%== @form.countup_text_before %>"
					size="12"
				/>

				<%= render '_form/_time_inputs', countup: true %>

				<span class="endless">∞</span>

				<p class="hint">
					<%= t.site.configurations.form.hint_about_space_in_text %>
				</p>
			</fieldset>

			<%= render '_form/_arrow' %>

			<p class="endless">
				∞
			</p>
		</fieldset>

		<fieldset>
			<legend><%= t.label.configuration.style.common %></legend>

			<fieldset class="table">
				<legend><%= t.label.configuration.style.background.common %></legend>

				<label>
					<span><%= t.label.configuration.style.background.color %>:</span>
					<span>
						<input
							type="color"
							name="configuration[background_color]"
							value="<%== @form.background_color %>"
							required
						/>
					</span>
				</label>

				<label class="opacity">
					<span><%= t.label.configuration.style.background.opacity %>:</span>
					<span>
						<input
							type="range"
							name="configuration[background_opacity]"
							value="<%= @form.background_opacity %>"
							min="0"
							max="1"
							step="0.05"
							required
						/>
						<span class="range-value"></span><span>%</span>
					</span>
				</label>
			</fieldset>

			<fieldset class="table">
				<legend><%= t.label.configuration.style.font.common %></legend>

				<label>
					<span><%= t.label.configuration.style.font.size %>:</span>
					<span>
						<input
							type="number"
							name="configuration[font_size]"
							value="<%= @form.font_size %>"
							min="0"
							max="9000"
							required
						/>
						pixels
					</span>
				</label>

				<label>
					<span><%= t.label.configuration.style.font.color %>:</span>
					<span>
						<input
							type="color"
							name="configuration[font_color]"
							value="<%== @form.font_color %>"
							required
						/>
					</span>
				</label>
			</fieldset>
		</fieldset>

		<button type="submit" class="success"><%= t.button[action] %></button>
	</form>

	<%
		## `action` is local variable, not controller's action
		if action == :update
	%>
		<form
			class="delete"
			action="<%= path_to :delete, key: key %>"
			method="POST"
			data-confirm="<%== t.confirm.configuration.delete(name: @form.name) %>"
		>
			<input type="hidden" name="_method" value="DELETE" />

			<%= csrf_tag %>

			<button type="submit" class="danger"><%= t.button.delete %></button>
		</form>
	<% end %>
</section>
