<section class="configurations">
	<h2><%= t.site.configurations.list.header %></h2>

	<ul>
		<% current_user.configurations.each do |configuration| %>
			<% key = configuration.key %>
			<li>
				<h3>
					<% if params[:key] == key %>
						<%== configuration.name %>
					<% else %>
						<a href="<%= path_to :edit, key: key %>">
							<%== configuration.name %>
						</a>
					<% end %>
				</h3>

				<p class="dates">
					<%=
						t.site.configurations.list.created_at l(configuration.created_at, :human)
					%><% if configuration.updated_at %>, <%=
						t.site.configurations.list.updated_at l(configuration.updated_at, :human)
					%><% end %>
				</p>
			</li>
		<% end %>
	</ul>
</section>
