<section class="load">
	<h2><%= t.site.configurations.load.header %></h2>

	<form action="<%= path_to ST::Site::Public::UsersController, :load %>" method="POST">
		<%= csrf_tag %>

		<fieldset class="user-key">
			<legend><%= t.label.user_key %></legend>

			<input type="password" class="monospace" name="user_key" required />

			<button type="submit" class="success"><%= t.button.load %></button>
		</fieldset>
	</form>
</section>
