<section class="load">
	<h2><%= t.site.configurations.load.header %></h2>

	<h4><%= t.site.configurations.load.user_key.header %></h4>

	<form action="<%= path_to ST::Site::Public::UsersController, :load %>" method="POST">
		<%= csrf_tag %>

		<p class="user-key">
			<input type="password" class="monospace" name="user_key" size="36" required />

			<button type="submit" class="success"><%= t.button.load %></button>
		</p>
	</form>

	<h4><%= t.site.configurations.load.connect.header %></h4>

	<ul class="third-party">
		<% CONNECT_PROVIDERS.each do |provider| %>
			<li>
				<form
					class="connect"
					action="/connect/<%= provider[:path] %>/?<%= URI.encode_www_form(current: false) %>"
					method="POST"
				>
					<%= csrf_tag %>

					<button type="submit" class="<%= provider[:name] %>">
						<%= t.button.public_send(:load_from, provider_title: provider[:title]) %>
					</button>
				</form>
			</li>
		<% end %>
	</ul>
</section>
