<% if current_user %>
	<section class="user-key">
		<h2><%= t.site.configurations.user_key.header %></h2>

		<p class="dates">
			<%= t.site.configurations.user_key.created_at l current_user.created_at, :human %>
		</p>

		<p>
			<%= t.site.configurations.user_key.hint %>
		</p>

		<p class="input">
			<input
				type="password"
				class="monospace"
				value="<%= current_user.key %>"
				readonly
				disabled
			/>

			<button type="button" class="success copy" data-toggle-text="<%= t.button.copied %>">
				<%= t.button.copy %>
			</button>
		</p>

		<form
			id="regenerate-user-key"
			action="<%= path_to ST::Site::Public::UsersController, :regenerate_key %>"
			method="POST"
			data-confirm="<%= t.confirm.user.regenerate_key %>"
		>
			<%= csrf_tag %>
		</form>

		<p>
			<button type="button" class="show warning" data-toggle-text="<%= t.button.hide %>">
				<%= t.button.show %>
			</button>

			<button type="submit" form="regenerate-user-key" class="danger">
				<%= t.button.regenerate %>
			</button>
		</p>
	</section>

	<%= render :_connect %>

	<%= render :_list %>
<% end %>

<%= yield %>
