<h4><%= t.site.timers.load.third_party.header %></h4>

<ul class="user third-party">
	<% CONNECT_PROVIDERS.each do |provider| %>
		<li>
			<form
				class="connect"
				action="/connect/<%= provider[:path] %>/?<%= URI.encode_www_form(current: false) %>"
				method="POST"
				data-confirm="<%= t.confirm.user.third_party.load %>"
			>
				<%= csrf_tag %>

				<button type="submit" class="<%= provider[:name] %>">
					<%= t.button.public_send(:load_from, provider_title: provider[:title]) %>
				</button>
			</form>
		</li>
	<% end %>
</ul>
